@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
:root {
  --color-background: #e76f51;
  --color-modal-background: #f4a261;
  --color-container-background: #fff;
  --color-guesses-text: #2a9d8f;
  --color-keyboard-button: #264653;
  --color-keyboard-button-letter: #e0fbfc;
  --color-keyboard-button-hover: #4675c0;
  --color-delete-button-hover: #2980b9;
  --color-stat-icons: #fb5607;
  --font-size: 24px;
  --font-size-smaller: 16px;
  --font-size-h1: 28px;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background: var(--color-background);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 0 10px;
}

.container {
  align-items: flex-end;
  background: var(--color-container-background);
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  display: flex;
  gap: 70px;
  justify-content: space-between;
  padding: 60px 40px;
  width: 900px;
}

.hangerman-box img {
  user-select: none;
  max-width: 270px;
}

.hangman-box h1 {
font-size: var(--font-size-h1);
margin-bottom: 20px;
text-align: center;
text-transform: uppercase;
text-shadow: rgba(0, 0, 0, 0.16) 0px 1 px 4px;

}

.hangman-box .word-display{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  list-style: none;
}

.word-display .letter{
  border-bottom:  3px solid #000;
  font-size:  var(--font-size);
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  width: 28px;
  padding: 10px;

}

.word-display .letter.guessed {
  border-bottom:  transparent;
  margin: -40px 0 35px;
}

.hanger-box h4 {
  font-size: var(--font-size);
  font-weight: 400;
  margin-bottom: 15px;
  text-align: center;

}

.hanger-box h4 b, .hanger-box .guess-text {
  font-weight:  700;

}

.hanger-box .guess-text {
  font-size: var(--font-size-smaller);

}

.hanger-box .guess-text b {
  color: var(--color-guesses-text);

}

.hangman-box .keyboard {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  margin-top: 40px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  padding: 10px;

}

:where(.hanger-modal, .keyboard) button {
  background-color: var(--color-keyboard-button);
  border-radius: 4px;
  border: none;
  color: var(--color-keyboard-button-letter);
  cursor:  pointer;
  font-size: var(--font-size);
  font-weight: 700;
  outline: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.keyboard button {
  padding: 7px;
  width: calc(100% / 9 - 5px);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
  rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.keyboard button [disabled] {
  pointer-events: none;
  opacity: 0.2;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;

}

:where(.hangman-modal, .keyboard) button:hover {
  background:  var(--color-keyboard-button-hover);
  transition: 0.6s;

}

.hangman-modal {
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  padding: 0 10px;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: opacity 0.5s ease;
  width: 100%;
  z-index: 9999;
}

.hangman-modal.show {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.4s 0.4s ease;
  background-color: var(--color-modal-background);
}

.hanger-modal .content {
  background: var(--color-modal-background);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 420px;
  padding: 30px;
  text-align: center;
  width: 100%;
}

.hangman-modal img {
  margin-bottom: 20px;
  max-width:  130px;

}

.hangman-modal img[scr="images/victory.gif"] {
  margin-left: -10px;

}

.hangman-modal h4 {
  font-size: var(--font-size);

}

.hangerman-modal p {
  font-size: var(--font-size);
  font-weight: 400;
  margin: 15px 0 30px;
}

.hangman-modal p b {
  color: var(--color-background);
  font-weight: 700;
}

.hangman-modal .content button {
  padding:  8px 20px;
  display: block;
  margin: 0 auto;

}

.hangman-stats {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

}

.hangman-stats-games,
.hangman-stats-wins ,
.hangman-stats-loses {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px ;

}

.fa-gamepad,
.fa-trophy,
.fa-skull-crossbones {
  animation: pulse 2s infinite alternate;
  font-size:  24px;
  color: var(--color-stat-icons)

}

.hangman-stats p {
  font-weight: 700;

}

.btn-delete-statistics {
  margin: 0 auto;
  display: block;
  background-color: var(--color-background);
  color: var(--color-guesses-text);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

}

.btn-delete-statistics:hover {
  background-color: var(--color-delete-button-hover);
  color: var(--color-container-background);

}

@keyframes pulse {
  0% {
    transform: scale (1);
  }
  100% {
    transform: scale(1.2);
  }
}

@media (max-width: 968px) {
  .container {
    flex-direction: column;
    padding: 30px 15px;
    align-items: center;
  }
}

.word-display .letter {
  margin-bottom: 35px;
  font-size: var(--font-size-h1);

}

.word-display .letter.guessed {
  margin: -35px 0 25px;

}

.hangman-modal img {
  max-width: 120px;
}

.hangman-modal button {
  padding: 10px 18px;
  
}

@media (max-width: 768px) {
  .hangman-box {
    text-align: center;
  }
  .hangman-box img {
    max-width: 150px;
  }
  .fa-gamepad,
  .fa-trophy,
  .fa-skull-crossbones {
    font-size: 16px;
  }
  .hangman-stats p {
    padding: 5px;
  }
  .hangman-box .keyboard {
    max-height: 60%;
  }
  .container .hangman-box h1 {
    display: none;
  }
  .hangman-modal .content {
    width: 70%;
  }
}